{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="action-buttons">
    <a class="button primary big" href="https://github.com/openforcefield/openforcefield/releases" onclick="_gaq.push(['_trackEvent', 'kube', 'download']);">Download the Toolkit</a>
    <a class="button secondary big" href="https://open-forcefield-toolkit.readthedocs.io/" onclick="_gaq.push(['_trackEvent', 'kube', 'docs']);">Read the Docs</a>
    <a class="button primary red big" href="https://github.com/openforcefield/openforcefields" onclick="_gaq.push(['_trackEvent', 'kube', 'docs']);">Get the Force Fields</a>
    <a class="button outline big" href="https://github.com/openforcefield/openforcefield" onclick="_gaq.push(['_trackEvent', 'kube', 'github']);">View the Source</a>
  </div>

  <!-- Join the Consortium message box -->
  <div class="message focus" data-component="message"> <span class="close small"></span>
    <a class="button inverted" href="consortium" >Join</a> the Consortium as an Industry Partner to support high-quality biomolecular force fields and receive prioritized support.
  </div>

  <!-- January meeting link -->
  <div class="message" data-component="message"> <span class="close small"></span>
    <a class="button inverted" href="news/may-2020-virtual-meeting" >View</a> slides and presentations from our most recent virtual Open Force Field Workshop held on May 4-5, 2020.
  </div>

  <div id="features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="Open Source" height="48" src="{{ "/img/freepik/Anindyanfitri/computer.png" | relURL }}" width="96">
        </figure>
        <h3>Open Source</h3>
        <p>Software permissively licensed under the <a href="https://opensource.org/licenses/MIT">MIT License</a> and developed openly on <a href="https://github.com/openforcefield">GitHub</a>.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Open Science" height="48" src="{{ "/img/freepik/Anindyanfitri/atom.png" | relURL }}" width="96">
        </figure>
        <h3>Open Science</h3>
        <p>Scientific reports on open access preprint servers <a href="https://www.biorxiv.org/search/open-force-field-consortium">bioRxiv</a> and <a href="https://chemrxiv.org/articles/Toward_Learned_Chemical_Perception_of_Force_Field_Typing_Rules/6230627">chemRxiv</a>.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Open Data" height="48" src="{{ "/img/freepik/Anindyanfitri/beaker.png" | relURL }}" width="96">
        </figure>
        <h3>Open Data</h3>
        <p>Curated physical property and quantum chemical <a href="https://github.com/openforcefield/open-forcefield-data">datasets</a> for building high-quality force fields.</p>
      </div>
    </div>
  </div>

  <!-- Developed with MolSSI -->
  <div class="row align-center">
    <p>
      <quote>Developed in coordination with the NSF-funded <a href="https://molssi.org/">Molecular Sciences Software Institute</a></quote>
      <a href="https://molssi.org/"> <img src="https://molssi.org/wp-content/uploads/2017/04/MolSSI-Logo-2.jpg" width="80"> </a>
    </p>
  </div>

  <!-- Acknowledgments -->
  <p>Icon vector graphics created by <a href="https://www.freepik.com/free-vector/science-icons-collection_972093.htm#term=anindyanfitri%20science&page=1&position=1">Anindyanfitri from Freepik.com</a></p>
</div>


{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
