{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>{{.Title }}</h1>
    <p>{{.Params.description}}<br></p>
</div>
<div id="main">
{{.Content}}

<ul>
{{ range $.Site.Data.members }}
  <div class="row gutters">
    <div class="col col-3">
      <img src=img/{{ .img }}>
    </div>
    <div class="col col-9">
      <h4><b>{{ .name }}</b> ({{ .role }})</h4>
      <p>
        {{ .title }}, {{ .institution }}<br>
        <i>{{ .description }}</i><br>
        <a href={{ .webpage }}>{{ .webpage }}</a><br>
        {{ with .ORCID }} ORCID: <a href="https://orcid.org/{{ . }}">{{ . }}</a> {{ end }}
        {{ with .google_scholar }} | Google Scholar: <a href="{{ . }}">{{ . }}</a> {{ end }}
      </p>
    </div>
  </div>
{{ end }}
</ul>

</div>
{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
