{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>{{.Title }}</h1>
    <p>{{.Params.description}}<br></p>
    <p><i>The Open Force Field Initiative consists of academic and industry investigators and partners collaborating to advance biomolecular force field engineering and science via open source software, open science, and open data.</i></p>
</div>
<div id="main">
{{.Content}}

<!-- Investigators -->

<h2>Primary Investigators</h2>

<ul>
{{ range $.Site.Data.members }}
  {{ if eq .role "Primary Investigator" }}
  <div class="row gutters">
    {{ partial "person" . }}
  </div>
  {{ end }}
{{ end }}
</ul>

<!-- Senior Scientists -->

<h2>Co-Investigators</h2>

<ul>
{{ range $.Site.Data.members }}
  {{ if eq .role "Co-Investigator" }}
  <div class="row gutters">
    {{ partial "person" . }}
  </div>
  {{ end }}
{{ end }}
</ul>

<!-- Consultants -->

<h2>Advisors</h2>

<ul>
{{ range $.Site.Data.members }}
  {{ if eq .role "Advisor" }}
  <div class="row gutters">
    {{ partial "person" . }}
  </div>
  {{ end }}
{{ end }}
</ul>

<!-- Scientific Coordinators -->

<h2>Scientific Coordinators</h2>

<ul>
{{ range $.Site.Data.members }}
  {{ if eq .role "Scientific Coordinator" }}
  <div class="row gutters">
    {{ partial "person" . }}
  </div>
  {{ end }}
{{ end }}
</ul>

<!-- Software Scientists -->

<h2>Software Scientists</h2>

<ul>
{{ range $.Site.Data.members }}
  {{ if eq .role "Software Scientist" }}
  <div class="row gutters">
    {{ partial "person" . }}
  </div>
  {{ end }}
{{ end }}
</ul>


<!-- Researchers -->

<h2>Researchers</h2>

<ul>
{{ range $.Site.Data.members }}
  {{ if eq .role "Researcher" }}
  <div class="row gutters">
    {{ partial "person" . }}
  </div>
  {{ end }}
{{ end }}
</ul>

<!-- Alumni -->

<h2>Alumni</h2>

<ul>
{{ range $.Site.Data.members }}
  {{ if eq .role "alum" }}
  <div class="row gutters">
    {{ partial "person" . }}
  </div>
  {{ end }}
{{ end }}
</ul>

<!-- Researchers -->

</div>
{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
