{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<!-- Title and description  -->
<div id="hero" class="wrap">
  <h1>{{.Title }}</h1>
    <p>{{.Params.description}}<br></p>
</div>

<!-- Text from markdown content -->
<!--
<div id="kube-faq">
{{.Content}}
</div>
-->

<!-- Automatic formatting of publications -->
<div id="main">

  <!-- Iterate over publiations -->
  <ul>
  {{ range sort $.Site.Data.publications.publications ".date" "desc" }}
    <div class="row gutters">
      {{ partial "publication" . }}
    <hr>
  {{ end }}
  </ul>
</div>

<!-- Footer -->
{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
