{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>{{.Title }}</h1>
    <p>{{.Params.description}}<br></p>
</div>

<div id="kube-faq">
  {{.Content}}
</div>

<ul id="posts">
  <h1>Science Updates</h1>
  {{ range .Paginator.Pages.ByWeight }} {{ partial "page-summary" . }} {{ end }}
  <section>{{ partial "pagination" .}}</section>
</ul>


{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
