<!-- Publication graphic -->
<div class="col col-2">
  {{ if .img }} <img src=img/{{ .img }}> {{ end }}
</div>

<!-- Text content -->
<div class="col col-10">
  <h5><b>{{ .title }}</b></h5>
  <p>
    {{ .authors }}<br>

    {{ with .preprint }}
      Preprint ahead of publication: <a href={{ .url }}>[{{ .server }}]</a>
      {{ partial "license" . }}
      <br>
    {{ end }}

    {{ with .published }}
      Published: <b>{{ .journal }}</b>
      {{ if .volume }}
         {{ with .volume }}{{ . }}:{{ end }}{{ with .pages }}{{ . }},{{ end }} {{ with .year }}{{ . }}{{ end }}.
      {{ else }}
         <i> in press.</i>
      {{ end }}
      <a href=https://dx.doi.org/{{ .doi }}>[DOI]</a>
      {{ with .pmcid }} | <a href=https://www.ncbi.nlm.nih.gov/pmc/articles/{{ . }}> <img width=50 src="img/pubmed.png"> {{ . }} </a>{{ end }}
      {{ partial "license" . }}
      <br>
    {{ end }}

    {{ with .github }}
        Code accompanying the publication: <a href="http://github.com/{{ . }}"> <img width="20" src="img/github.png"> <b>{{ . }}</b> </a>
        <br>
    {{ end }}

    <i>{{ .summary }}</i><br>
  </p>
</div>

</div>
