  /* paged.js style example*/

  @media print {

    /* h1 will be used to define running head */
    h1 {
      string-set: title content(text);
    }
  
    @page  {
      size: A4;
      margin-top: 15mm;
      margin-left: 20mm;
      margin-right: 15mm;
      margin-bottom: 25mm;
  
      @bottom-center  {
        content: element(footer);
      }
  
      @top-right  {
        content: counter(page);
        font-size: 0.7em;
      }
  
      @top-left  {
        content: string(title);
        font-size: 0.7em;
      }
    }
  }
  